.cloud{
    background: var(--primary-color) ;
}
.cloud img{
    width: 100%;
}

.cloud .read{
    text-align: center;
    color: #fff;
}

.cloud .read a{
    text-decoration: none;
    color: #fff;
    background:var(--dark-color);
    border: none;
}

