footer{
    background-color:var(--dark-color);
    padding: 60px 100px;
    margin-top: 50px;
}


footer li a{
   padding: 0;
   margin: 10px 0px; 
   
}
footer p{
    color: #fff;
}

footer .container div:not(.social){
    text-align: left;
 }

.social{
    display: inline-block;
    flex-wrap: nowrap;
    justify-self: flex-start;
   
}

.social i{
    color: #fff;
    margin: 0px 10px;
}


footer ul{
    flex-direction: column;
}