.stats{
    padding-top: 100px;
    color:black;
}

.stats .container{
    line-height: 1;
}

.stats .grid-3{
    padding: 10px;
    justify-items: center;
}

.grid-3 div{
    text-align: center;
}



 .grid-3 div i + h3 {
    font-size: 35px;
}
h3 + p {
    font-weight: bold;
    font-size: 20px;
    color: blue
}

