@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import "navbar.css";
@import "showcase.css";
@import "utilities.css";
@import "stats.css";
@import "cli.css";
@import "cloud.css";
@import "languages.css";

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

h2{
  font-size: 30px;
  font-weight: lighter;
}
*{
   
    margin: 0;
    padding: 0;
}








