@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import "navbar.css";
@import "showcase.css";
@import "utilities.css";
@import "stats.css";
@import "cli.css";
@import "cloud.css";
@import "languages.css";
@import "footer.css";

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

h2{
  font-size: 30px;
  font-weight: lighter;
}
*{
   
    margin: 0;
    padding: 0;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .grid, 
  .cli .grid
  {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .cli .grid > *:first-child{
    grid-column: 1;
    grid-row: 1;
  }
  .showcase{
    height: auto;
  }
  .container .showcase-text{
    text-align: center;
    animation: slideInFromTop 1s ease-in;
  }
  .showcase-form{
    position: initial;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }
}


@media (max-width: 500px) {
  
  .showcase-form {
    width: 300px;
  }
}


